$black: #000000;
$black-two: #161616;
$dark: #1c2734;
$white: #ffffff;
$dark-grey: #1f2123;
$white-two: #f6f5f3;
$pumpkin-orange: #fd8301;
$dark-grey-blue: #2c3d51;
$light-grey-blue: #a6b7d4;
$dark-blue-grey: #1f344a;
$light-navy: #1253a2;
$pale-grey-two: #eeeff1;
$black-7: rgba(0, 0, 0, 0.07);
$dodger-blue: #2f8cff;
$white-50: rgba(255, 255, 255, 0.5);
$pale-grey: #eef3f8;
$pinkish-grey: #cccccc;
$warm-grey: #8f8f8f;
